* {
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	background-color: #2E2E2E;
	color: #FCFCFC;
	display: flex;
	flex-direction: column;
	font-family: arial, serif;
	font-size: 16px;
	margin: auto;
	max-width: 768px;
	min-height: 100vh;
	padding: 36px 20px;
}

header {
	margin: auto;
}

figure {
	margin: 0;
}

header img {
	margin-bottom: 40px;
}

fieldset {
	border: none;
	padding: 0;
	text-align: center;
}

label,
button {
	border-radius: 2em;
}

input[type=radio] {
	margin-right: 12px;
}

label + input[type="radio"]:checked {
	background-color: rgba(252, 252, 252, .42);
	color: pink;
} 

button {
	background-color: #CE1126;
	border: none;
	color: #FCFCFC;
	cursor: pointer;
	font-weight: bold;
	padding: 14px 52px;
	transition: .2s;
}
	button:hover {
		background-color: #B50E22;
	}

h2 {
	line-height: 1.2em;
}

.logo-lg {
	margin-bottom: 40px;
}

.question-container {
	display: none;
}

.question,
.question-form,
.feedback,
.results {
	display: flex;
}

.question-form,
.question,
.question-container,
.feedback,
.results {
	flex-grow: 1;
	flex-direction: column;
}

.question h2 {
	flex-grow: 1;
	max-height: 160px;
}

.quiz-head {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
}

.quiz-head figure {
    flex-basis: 100%;
    text-align: center;
    width: 100%;
}

.score {
	margin-left: auto;
}

.answer-option {
	align-items: center;
	border: 1px solid #717171;
	display: flex;
	margin-bottom: 16px;
	padding: 16px;
}  

.feedback,
.results {
	text-align: center;
}

.feedback-fact {
	margin-top: auto;
}