* {
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 768px;
	min-height: 100vh;
	padding: 28px;
}

header {
	text-align: center;
}

.question{
	display: flex;
}

.question-container {
	display: none;
}

.question-form,
.question,
.question-container {
	flex-grow: 1;
	flex-direction: column;
}

.question h2 {
	flex-grow: 1;
	max-height: 160px;
}

.quiz-head {
	display: none;
	flex-wrap: wrap;
	border-bottom: 1px solid black;
}

.quiz-head figure {
    flex-basis: 100%;
    text-align: center;
    width: 100%;
}

.score {
	margin-left: auto;
}

fieldset {
	border: none;
	padding: 0;
	text-align: center;
}

.answer-option {
	align-items: center;
	border: 1px solid black;
	display: flex;
	margin-bottom: 16px;
	padding: 16px;
}

input[type=radio] {
	margin-right: 12px;
}

.submit-button {
	margin: auto;
	padding: 12px;
}