* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #2E2E2E;
	color: #FCFCFC;
	display: flex;
	flex-direction: column;
	font-family: arial, serif;
	font-size: 16px;
	margin: auto;
	max-width: 768px;
	min-height: 100%;
	padding: 26px 20px;
}

header {
	margin: auto;
}

figure {
	margin: 0;
}

header img {
	margin-bottom: 40px;
}

fieldset {
	border: none;
	padding: 0;
	text-align: center;
}

label,
button {
	border-radius: 2em;
}

input[type=radio] {
	opacity: 0;
	width: 0;
}

button {
	background-color: #CE1126;
	border: none;
	color: #FCFCFC;
	cursor: pointer;
	font-weight: bold;
	padding: 14px 52px;
	transition: .2s;
}
	button:hover {
		background-color: #B50E22;
	}

h2 {
	line-height: 1.2em;
}

.logo-lg {
	margin-bottom: 40px;
	width: 182px;
	height: auto;
}
.logo-sm {
	width: 82px;
	height: auto;
}

.question-container {
	display: none;
}

.question,
.question-form,
.feedback,
.results {
	display: flex;
}

.question-form,
.question,
.question-container,
.feedback,
.results {
	flex-grow: 1;
	flex-direction: column;
}

.question h2 {
	flex-grow: 1;
	max-height: 160px;
}

.quiz-head {
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #717171;
}

.quiz-head figure {
    flex-basis: 100%;
    text-align: center;
    width: 100%;
}

.quiz-head p {
	margin-top: 12px;
	margin-bottom: 8px;
}

.quiz-head p strong {
	font-size: 1.2em;
}

.score {
	margin-left: auto;
}

.answer-option {
	align-items: center;
	border: 1px solid #717171;
	display: flex;
	margin-bottom: 16px;
	padding: 16px;
}
	.answer-option:focus-within {
		border: 1px solid #FCFCFC;
	}

.answer-option span {
	margin: auto;
}

.selected {
	background-color: rgba(252, 252, 252, .42);
	border: 1px solid #FCFCFC;
}

.submit-button {
	margin-top: 10px;
}

.feedback,
.results {
	text-align: center;
}

.feedback-fact {
	margin-top: auto;
}